.participant-wrapper{
  height: 13vh;
  width: 23vw;
  margin: 15px;
  border: #b6b6b691 2px solid;
}

.participant-container{
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.participant-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0 5px;
  object-fit: contain;
}

.participant-info{
  margin-left: 20px;
}

.participant-name{
  font-size: 1em;
  margin: 5px 0;
}

.participant-email{
  font-size: 0.8em;
}